name: Test & Build
on: [push, pull_request]
env:
  CARGO_TERM_COLOR: always
jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Install npm dependencies
      run: cd .github/actions/xvfb-action &&npm install
    - name: Setup xcb
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: sudo apt-get update && sudo apt-get install -y libxcb-xfixes0-dev
    - name: Setup rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        components: rustfmt, clippy
    - name: Clippy
      run: cargo clippy
    - name: RustFmt
      run: cargo fmt -- --check
    - name: Run tests
      uses: ./.github/actions/xvfb-action
      continue-on-error: true
      with:
        run: cargo test --verbose -- --test-threads=1
    - name: Build
      run: cargo build
      continue-on-error: true
